body{
    background-color: #000119;
    font-family: 'Rubik', sans-serif;
    margin: 0 139px;
    margin-top: 27px;
    padding: 0;
    color: #F4F4F4;

    text-align: center;
}

.navbar{
    text-align: end;
}

.navbar-items a{
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #F4F4F4;
    margin-left: 40px;
}

.login-btn{
    background-color: #000119;
    border: 1px solid #FB69BD;
    border-radius: 8px;

    padding: 10px 20px;
    font-size: 16px;
}

.admin-regis-btn{
    background-color: #FB69BD;
    border-radius: 8px;

    padding: 10px 18px;
    font-size: 16px;
}

.grid-1-container, .grid-2-container, .grid-4-container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 280px;

    margin-top: 68.4px;
}

.grid-1-right-panel{
    text-align: end;
    
}

.website-title{
    color: #FB69BD;
    font-weight: bold;
    font-size: 80px;
}

.website-subtitle{
    color: #F4F4F4;
    font-weight: 500;
    font-style: italic;
    font-size: 35px;
}

.grid-2-left-panel{
    text-align: start;
}

.category-title{
    font-weight: 500;
    font-size: 40px;
    color: #FB69BD;
}

.grid-3-container{
    display: grid;
    
    grid-template-columns: 502px 502px;
    grid-template-rows: 576px 576px;
    column-gap: 84px;
    row-gap: 103px;
    justify-content: center;
    align-content: center;
    font-weight: 500;
    font-size: 40px;
    color: #0BB4FF;

    margin-bottom: 129px;
}

.grid-3-items{
    border: 2px solid #0BB4FF;
    border-radius: 20px;
    box-shadow: 0px 6px 25px #0BB4FF7C;
}

.grid-3-items div{
    display: inline-block;
    background-color: #F4F4F4;
    justify-self: center;
    align-self: center;
}

.grid-3-items div span{
    background-color: #FB69BD;
}

.contact-title{
    color: #FB69BD;
    font-weight: 500;
    font-size: 40px;
}

.grid-4-left-panel{
    text-align: start;
    text-decoration: none;
    font-weight: 400;
}

.footer{
    background-color: #FB69BD;
    padding: 12px 542px;
    align-items: center;
    font-weight: normal;
    font-size: 16px;

    margin: 0 -139px;
    margin-top: 230px;
}